<div class="sistema">

  <!-- ENCABEZADO INSTITUCIONAL -->
  <header class="ucad-encabezado sistema-encabezado">

    <div class="sistema-marca">

      <img
        src="/logo.jpeg"
        alt="Logo Universidad Cristiana de las Asambleas de Dios">

      <div>

        <h1>
          UCAD Parki
        </h1>

        <p>
          Sistema de Gestión y Control de Estacionamiento
        </p>

      </div>

    </div>


    <!-- INFORMACIÓN DEL USUARIO LOGUEADO -->
    <div class="sistema-usuario">

      <div class="usuario-informacion">

        <strong>
          {{ nombreUsuario }}
        </strong>

        <span>
          {{ correoUsuario }}
        </span>

        <span class="usuario-rol">
          {{ rolUsuario }}
        </span>

      </div>


      <button
        type="button"
        class="btn btn-outline-light btn-sm"
        (click)="cerrarSesion()">

        Cerrar sesión

      </button>

    </div>

  </header>


  <!-- CONTENIDO DEL DASHBOARD -->
  <main class="sistema-contenido">

    <ng-content></ng-content>

  </main>

</div>