<div class="sistema">

  <!-- ENCABEZADO INSTITUCIONAL -->
  <header class="ucad-encabezado sistema-encabezado">

    <div class="sistema-marca">

      <img
        src="/logo.jpeg"
        alt="Logo Universidad Cristiana de las Asambleas de Dios">

      <div>

        <h1>UCAD Parki</h1>

        <p>
          Sistema de Gestión y Control de Estacionamiento
        </p>

      </div>

    </div>


    <div class="sistema-usuario">

      <span>
        Usuario
      </span>

      <button
        type="button"
        class="btn btn-outline-light btn-sm">

        Cerrar sesión

      </button>

    </div>

  </header>


  <!-- CONTENIDO DE LA VISTA -->
  <main class="sistema-contenido">

    <ng-content></ng-content>

  </main>

</div>